ul.nav li a{
    font-family: 'Quicksand', sans-serif;
}

.navbar-brand a {
  font-family: 'Qwigley', cursive;
  font-size: 50px; 
  vertical-align: middle; 
  display: block; 
  padding-bottom: 10px;
}

.navbar-brand a span {
  display: block; font-size: 15px;
  text-align: right; 
  padding-top: 5px; 
  font-family: 'Quicksand', sans-serif;
}

.slides li {
  
}