<section class="bread-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Meet the Mayor</h4>
                <span><%= @city_council.meet_mayor.content %></span>
                <img src="@city_council.mayor_image.image.asset.url" alt="">
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>team</li>
                </ol><!--breadcrumb-->
            </div>
        </div>
    </div>
</section><!--.bread-wrap-->
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Meet Our valuable team</h3>
            <p>
                Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.
            </p>
        </div>
    </div><div class="divide60"></div>
    <div class="row">               
        <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <img src="img/team-1.jpg" class="img-responsive" alt="">
                </div><!--person image-->
                <div class="description">
                    <h4>July rayan</h4>
                    <span>manager</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>I am Narani</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
         <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <img src="img/team-2.jpg" class="img-responsive" alt="">
                </div><!--person image-->
                <div class="description">
                    <h4>July rayan</h4>
                    <span>manager</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>I am Narani</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
         <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <img src="img/team-3.jpg" class="img-responsive" alt="">
                </div><!--person image-->
                <div class="description">
                    <h4>July rayan</h4>
                    <span>manager</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>I am Narani</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
    </div><!--row-->
    <div class="divide40"></div>
        <div class="row">               
        <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <img src="img/team-4.jpg" class="img-responsive" alt="">
                </div><!--person image-->
                <div class="description">
                    <h4>July rayan</h4>
                    <span>manager</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>I am Narani</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
         <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <img src="img/team-3.jpg" class="img-responsive" alt="">
                </div><!--person image-->
                <div class="description">
                    <h4>July rayan</h4>
                    <span>manager</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>I am Narani</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
         <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <img src="img/team-1.jpg" class="img-responsive" alt="">
                </div><!--person image-->
                <div class="description">
                    <h4>July rayan</h4>
                    <span>manager</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>I am Narani</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
    </div><!--row-->
</div>
